%p
  This is an <strong>experimental</strong> installer for getting apps running quickly on
  <a href="#{SIGN_UP_URL}">DigitalOcean</a>.

.room
  %h2 Install #{@installer.config['name'] || '(no name; set the :name key in the config)'}

  .content
    %form{ action: '/install', method: 'POST' }
      %input{ type: 'hidden', name: 'token', value: session[:csrf_token] }
      %input{ type: 'hidden', name: 'url', value: params[:url] }

      %table.table
        %tr
          %th Name:
          %td= @installer.config['name']
        %tr
          %th Repo:
          %td
            %a{ href: @installer.repo }= @installer.repo
            (<a href="#{@installer.url}">config</a>)
        %tr
          %th Image:
          %td= @installer.config['image']
        %tr
          %th Size:
          %td
            %select{ name: 'size' }
              - @installer.memory_options.each do |slug|
                %option{ value: slug }= slug
        %tr
          %th Region:
          %td
            %select{ name: 'region' }
              - @installer.region_options.each do |id, name|
                %option{ value: id, selected: @installer.region == id }= name
            .discreet
              (only regions supporting metadata and CloudConfig)

      %button.btn.btn-success#go
        %i.fa.fa-cloud-upload
        %strong Install #{@installer.config['name'] || '?'}
        on a new Droplet

      #sign-up{ style: 'display:none' }
        / DO used to allow us to set the referral cookie via an iframe, but they took that away, so now we have this madness.
        %p <i class="fa fa-frown-o"></i> Looks like you don't have an account on DO.
        %p
          %a.btn.btn-warning{ href: SIGN_UP_URL }
            %i.fa.fa-sign-in
            Please
            %strong Sign Up
            at DigitalOcean
        %p ...and then come back.

:javascript
  var selects = $('select');
  var m = document.cookie.match(/selections=([^;]+)/);
  if (m) {
    m[1].split(',').forEach(function(value, i) {
      $(selects[i]).val(value);
    });
  }
  $('form').submit(function(e) {
    if (!document.cookie.match(/loggedIn=true/)) {
      e.preventDefault();
      var selections = selects.map(function() { return $(this).val() }).toArray();
      document.cookie = 'selections=' + selections.join(',')
      document.cookie = 'loggedIn=true; expires=Thu, 31-Dec-2020 00:00:01 GMT;';
      $('#sign-up').show();
      $('#go').hide();
    }
  })
