%p
  This is an <strong>experimental</strong> installer for getting apps running quickly on
  <a href="#{SIGN_UP_URL}">DigitalOcean</a>.

.alert.alert-warning
  %p
    %strong Install an SSH key first.
  %p
    There is a <a href="https://github.com/churchio/onebody/issues/349">bug we're working on</a>
    that prevents the app from being installed unless you first
    <a href="https://cloud.digitalocean.com/ssh_keys">add an SSH key</a> to your DigitalOcean account.
  %p
    We're very sorry about this and hope to have it fixed soon.

.room
  %h2 Install #{@installer.config['name'] || '(no name; set the :name key in the config)'}

  .content
    %form{ action: '/install', method: 'POST' }
      %input{ type: 'hidden', name: 'token', value: session[:csrf_token] }
      %input{ type: 'hidden', name: 'url', value: params[:url] }
      %table.table
        %tr
          %th Name:
          %td= @installer.config['name']
        %tr
          %th Repo:
          %td
            %a{ href: @installer.repo }= @installer.repo
            (<a href="#{@installer.url}">config</a>)
        %tr
          %th Image:
          %td= @installer.config['image']
        %tr
          %th Size:
          %td
            %select{ name: 'size' }
              - @installer.memory_options.each do |slug|
                %option{ value: slug }= slug
        %tr
          %th Region:
          %td
            %select{ name: 'region' }
              - @installer.region_options.each do |id, name|
                %option{ value: id, selected: @installer.region == id }= name
            .discreet
              (only regions supporting metadata and CloudConfig)

      .form-group
        %input#agree{ type: 'checkbox', name: 'agree' }
        %label{ for: 'agree' } I agree with the <a href="/terms">terms</a>.

      %button.btn.btn-success#go{ style: 'display:none' }
        %i.fa.fa-cloud-upload
        %strong Install #{@installer.config['name'] || '?'}
        on a new Droplet

    %p.discreet{ style: 'margin-top:20px' }
      Note: clicking "I agree" above will set a referral code cookie
      on www.digitalocean.com and give us credit towards our hosting
      bill if you are a new customer. If you don't like that, you can
      host this tool yourself by
      <a href="https://github.com/seven1m/do-install-button">downloading it here</a>.

:javascript
  $('#agree').change(function() {
    if ($(this).is(':checked')) {
      $('body').append('<iframe src="#{SIGN_UP_URL}" style="visibility:hidden;height:0;"></iframe>');
      $('#go').show();
    } else {
      $('iframe').remove();
      $('#go').hide();
    }
  });
